body {
    height: 100%;
    background-color: #333;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
}

.content {
    max-width: 1330px;
    margin: 0px auto;
    padding: 50px 15px;
}

.container {
    height: 350px;
    margin: 100px auto;
    width: 80%;
}
.container li {
    width: 100%;
    height: 100%;
    margin: 20px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.container img {
    width: 25em;
}
.container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}
.container p {
    color: rgb(0, 0, 0);
    font-size: 18px;
}
img. h6 {
    margin: 5px 0;
    color: rgb(226, 216, 216);
    font-size: 16px;
}

textarea {
    height: 200px;
    width: 80%;
    padding: 10px 20px;
    margin-top: 20px;
}

form {
    padding: 35px;
    width: min-content;
    min-width: 350px;
    margin: 30px auto;
    border: #ffffff 5px solid;
    background: #706464;
    height: 75%;
}
form div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
form img {
    width: 60%;
}

form input {
    margin-top: 15px;
}


.items {}
.items__item {
    display: flex;
    margin: 0px 0px 30px 0px;
}

.items__image {
    flex: 0 0 33.333%;
    position: relative;
    min-height: 150px;
}

.items__image img{
    width: 25em;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.items__body {
    flex: 1 1 auto;
    padding: 0px 0px 0px 30px;
}
.items__label {
    display: inline-block;
    margin: 0px 0px 20px 0px;
}
.items__text {

}
